body {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
font-family: 'Courier New', Courier, monospace;

h1 {
font-size: 60px;
}
img {
width: 300px;
height: 300px; 
}}

button {
    background: none;
border: 5px solid black
}
h2 {
    font-size: 40px;
}